<div id="footer-template">
    <div class="first-row">
        <div class="footer-menu">
            <div class="footer-submenu">
                <h5>INFORMATION</h5>
                <ul>
                    <li>
                        <a href="../../../pages/about.html">About Us</a>
                    </li>
                    <li>
                        <a href="../../../pages/faq.html">FAQs</a>
                    </li>
                    <li>
                        <a href="../../../pages/privacy.html">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="footer-submenu">
                <h5>ACTIONS</h5>
                <ul>
                    <li>
                        <a href="../../../pages/contact.html">Contact Us</a>
                    </li>
                    <li>
                        <a href="../../../pages/donate.html">Donate</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="newsletter-signup">
            <h4>Get Notified!</h4>
            <p>Questions? Comments? Our Team is ready to help.</p>
            <div id="newsletter-form-slot">
            <form name="newsletterForm" id="newsletter-form" onsubmit="global.submitForm(event, 'newsletter-form-slot', [{'email':'newsletterForm.email'}], 'newsletters', 'Thank you for subscribing!')">
                <div class="email-wrapper">
                    <i class="far fa-envelope fa-lg"></i>
                    <input name="email" type="email" placeholder="Email" />
                </div>
                <input class="submit" type="submit" id="submit" value="Subscribe"></input>
            </form>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="last-row">
        <a href="/"><img src="/assets/images/logo.png"></a>
        <div class="social-media">
            <a href="https://twitter.com">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://facebook.com">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://linkedin.com">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <p>&copy; 2020 Hypermedia Project</p>
    </div>
</div>