<div id="footer-template">
        <div class="first-row">
            <div class="footer-menu">
                <div class="footer-submenu">
                    <h5>INFORMATION</h5>
                    <ul>
                        <li>
                            <a href="../../../pages/about.html">About Us</a>
                        </li>
                        <li>
                            <a href="../../../pages/faq.html">FAQs</a>
                        </li>
                        <li>
                            <a href="../../../pages/privacy.html">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-submenu">
                    <h5>ACTIONS</h5>
                    <ul>
                        <li>
                            <a href="../../../pages/contact.html">Contact Us</a>
                        </li>
                        <li>
                            <a href="../../../pages/donate.html">Donate</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="newsletter-signup">
                Newsletter
            </div>
        </div>
        <div class="divider"></div>
        <div class="last-row">
            <p>Logo</p>
            <div>Social media</div>
            <p>copyright</p>
        </div>
</div>