<div id='event-thumbnail-{{ id }}' class='event-thumbnail'>
    <a href="../../../pages/event.html?id={{ id }}">
        <img alt="Image presenting event's main theme {{ name }}" src='{{ thumbnail }}'>
    </a>
    <div class="content-wrapper">
        <div>
            <div class="event-location">
                <i class="fas fa-map-marker-alt"></i>
                <span>{{ location }}</span>
            </div>
        </div>
        <a class="title-link" href="../../../pages/event.html?id={{ id }}">
            <h4>{{ name }}</h4>
        </a>
    </div>

</div>