#navbar-slot {
    color: #ffffff;
    background-color: #FF7171;
    font-family: Inter-SemiBold;
}

#navbar-slot .navbar-brand {
    color: #ffffff;
}

#navbar-slot .navbar-brand p {
    margin: 0;
    font-size: 12px;
}

#navbar-slot .navbar-nav {
    margin-left: auto;
    margin-right: 50px;
}

#navbar-slot .nav-item {
    padding: 0 30px;
}

#navbar-slot .nav-item a {
    color: #000000;
}

#navbar-slot .nav-item.active a {
    color: #ffffff;
}
