<form name="contactForm" id="contact-form" onsubmit="contact.submitForm(event)">
    <span>
        <i class="far fa-user-circle fa-lg"></i>
        <input name="name" type="text" placeholder="Name" required>
    </span>
    <span>
        <i class="far fa-envelope fa-lg"></i>
        <input name="email" type="email" placeholder="Email" required>
    </span>
    <textarea name="message" rows="7" placeholder="Message..." required></textarea>
    <input class="submit" type="submit" value="Send"></input>
</form>