.contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contacts-wrapper .single-contact {
    text-align: center;
    padding: 15px 15px;
}

.contacts-wrapper .single-contact p {
    font-family: SegoeUI;
}


.contacts-wrapper .single-contact .address-text {
    line-height: 20px;
}

.contacts-wrapper .single-contact .contact-header {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: Inter-Bold;
}

.contacts-wrapper .single-contact .contact-header i {
    display: inline;
    padding-right: 5px;
    color: #FF7171;
}

.contacts-wrapper .single-contact .contact-header h4  {
    display: inline;
    font-size: 1.7rem;
}

.contacts-wrapper .single-contact .vertical-align {
    justify-content: center;
}

.contacts-wrapper .single-contact .vertical-align i {
    color: #E14040;
    padding: 0 10px;
    transition: .3s ease-in;
}

.contacts-wrapper .single-contact .vertical-align i:hover {
    color: #FF7171;
}
