.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px
}

.content-wrapper .single-info {
    padding: 36px 15px;
}

.content-wrapper .single-info p {
    font-family: SegoeUI;
    margin-bottom: 10px;
}

.content-wrapper .single-info .address-text {
   /* line-height: 20px;*/
}

.content-wrapper .single-info .info-header {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: Inter-Bold;
}

.content-wrapper .single-info .info-header i {
    display: inline;
    padding-right: 5px;
    color: #FF7171;
}

.content-wrapper .single-info .info-header h4  {
    display: inline;
    font-size: 1.2rem;
}

.content-wrapper .single-info .vertical-align {
    justify-content: center;
}

.content-wrapper .single-info .vertical-align i {
    color: #E14040;
    padding: 0 10px;
    transition: .3s ease-in;
}

.content-wrapper .single-info .vertical-align i:hover {
    color: #FF7171;
}

#donation-container {
    display: flex;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-image: url('/assets/images/family.jpg');
    background-size: cover;
    background-position: top right;
}

#donation-container .wrapper {
    display: flex;
    margin-left: 60px;
    min-height: 380px;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(252, 250, 245, 0.9);
    border-radius: 20px;
    padding: 20px 40px 20px 20px;
}

#donation-container .wrapper .donation-container-header p {
    margin-left: 80px;
    font-family: Inter-Bold;
    max-width: 20vw;
    text-align: center;
}

#donation-container .wrapper .donation-container-subheader p {
    margin: 0;
    font-family: Inter-SemiBold;
}

#donation-container .wrapper .donationAmount {
    display: flex;
}

#donation-container .wrapper .donationAmount .dollarBill{
    border: solid 1px gray;
    padding: 0px 5px;
}

#donation-container .wrapper .donation-container-cta {
    padding: 15px;
    border: 2px solid #ffffff;
    font-family: Inter-SemiBold;
    transition: .3s ease-in;
}

#donation-container .wrapper .donations {
    display: flex;
    flex-direction: row;
    font-family: Inter-Regular;
    color:gray;
    justify-content: space-between;
}

.donationButton {
    cursor: pointer;
    color: gray;
    border: solid 1px gray;
    padding: 0px 5px;
    font-family: Inter-SemiBold;
}

.donationButton:hover {
    color: black;
    transition: .3s ease-in;
    border: solid 1px black;
}

#donation-container .wrapper .personal-info {
    color: gray;
    font-family: Inter-SemiBold;
}

#donation-container .wrapper .personal-info .header-underline{
    height: 2px;
    background-color: darkgray;
    margin: 0 auto 20px;
}

#donation-container .wrapper .donation-container-cta:hover {
    color: #FF7171;
    border-color: #FF7171;
}

#donation-container .wrapper .input-part1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#donation-container .wrapper .input-part1 .input-block {
    display: flex;
    flex-direction: column;
}

#donation-container .wrapper .input-block {
    display: flex;
    flex-direction: column;
}

#donation-container .wrapper .details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#donation-container .wrapper .details .input-block input{
    width: 50%
}

#donation-container .wrapper .dollarBill {
    color: gray;
    border: solid 1px gray;
    padding: 0px 5px;
    font-family: Inter-SemiBold;
}

#donation-container .wrapper .donation-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#donation-container .wrapper .donation-total .sub-donation-total {
    display: flex;
    flex-direction: row;
}

#donation-container .wrapper .donation-total .sub-donation-total input{
    width: 50%;
}

#donation-container .wrapper .donation-total #donate {
    /*margin-top: 30px;;
    padding: 15px 60px;
    */
    font-family: Inter-SemiBold;
    background-color: #E6C41E;
    color: black;
    display: inline-block;
    -webkit-box-shadow: 15px 15px 42px -16px rgba(0,0,0,0.75);
    
    -moz-box-shadow: 15px 15px 42px -16px rgba(0,0,0,0.75);
    box-shadow: 15px 15px 42px -16px rgba(0,0,0,0.75);
    transition: .3s ease-in;
    border: 1px solid transparent;
}
