.questions-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 20px
}

.questions-wrapper .single-question {
    padding: 20px 15px;
}

.questions-wrapper .single-question p {
    font-family: SegoeUI;
}


.questions-wrapper .single-question .address-text {
    line-height: 20px;
}

.questions-wrapper .single-question .question-header {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: Inter-Bold;
}

.questions-wrapper .single-question .question-header i {
    display: inline;
    padding-right: 5px;
    color: #FF7171;
}

.questions-wrapper .single-question .question-header h4  {
    display: inline;
    /*font-size: 1.7rem;*/
}

.questions-wrapper .single-question .vertical-align {
    justify-content: center;
}

.questions-wrapper .single-question .vertical-align i {
    color: #E14040;
    padding: 0 10px;
    transition: .3s ease-in;
}

.questions-wrapper .single-question .vertical-align i:hover {
    color: #FF7171;
}

.map-wrapper {
    margin: 0 auto;
    width: 90vw;
    height: 400px;
}

.map-wrapper {
    cursor: pointer;
    margin-bottom: 50px;
}

.map-wrapper div {
    pointer-events: none;
}

#question-form-slot {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
